@import "fonts.scss";

$reasons-font-size: 17px;
$Light: #ffffff;
$Dark: #000000;


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
* {
    box-sizing: border-box;
    font-family: IranSans;
}
body {
    width: 100%;
    margin: 0%;
    padding: 0%;    
    background-image: linear-gradient(180deg, #FFE9BD 0%, #FFFFFF 79%);
}
.second-section {
    background-image: radial-gradient(circle at 80% 84%, #FFFFFF 0%, #4492FC 196%);
    border: 1px solid #979797;
}
.classino-title {
    @include vertical-center();
    margin-top: 3%;
    img {
        width: 15%;
        height: auto;
        margin-bottom: 1%; 
    }
    hr {
        width: 27%;
        height: 1px;        
        background-color: #036AF5;
        border: none;
    }
    span {
        color: #036AF5;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 2%;
    }
}
.classino-description {
    display: flex;
    margin: auto;
    text-align: center;
    width: 76%;
    direction: rtl;
    font-size: 17px;  
    font-weight: 500;  
}
.students-picture {
    @include horizontal-center();
    img {
        width: 50%;
        height: auto;
        margin-top: 3%;
    }
}
.why-classino-main {
    position: relative;
    top: 120px;
}
.why-classino-title, .classino-technology-title {
    @include horizontal-center();
    font-size: 23px;
    font-weight: 600;
}
.why-classino-title {
    margin-bottom: 2%;
}
.why-classino {
    @include horizontal-center();
    .reasons {  
        @include center();
        font-size: $reasons-font-size; 
        width: 20%;
        height: 200px;
        margin: 1.5%;
        background-image: linear-gradient(225deg, #C5DEFF 0%, #9BC5FF 19%, #68A9FF 39%, #036AF5 100%);
        border: 3px solid rgba(54,140,255,0.61);
        box-shadow: 4px 4px 14px 0 rgba(0,0,0,0.09);
        border-radius: 16px;
        span {
            width: 70%;
            color: $Light;
            text-align: center;
        }
    }
}
.classino-technology-title {
    position: relative;
    top: 200px;
}
.student-img {
    img {
        width: 13%;
        height: auto;
        position: relative;
        left: 71%;
        top: 85px;
    }
}
.classino-technology {
    margin: auto;
    @include horizontal-center();
    align-items: center;
    width: 75%;
    height: 300px;
    background-image: linear-gradient(225deg, #C5DEFF 0%, #9BC5FF 19%, #68A9FF 39%, #036AF5 100%);
    border: 4px solid rgba(54,140,255,0.61);
    box-shadow: 4px 4px 14px 0 rgba(0,0,0,0.09);
    border-radius: 16px;
    img {
        width: 180px;
        height: auto;
        position: relative;
        right: 12%;
    }
    span {        
        position: relative;
        right: 8%;
        width: 50%;
        color: $Light;
        font-size: 17px;
        direction: rtl;
        text-align: center;
    }  
}
.tandis-main {
    @include horizontal-center();
    margin: 3% 0 11% 1%;
    img {
        width: 280px;
        position: relative;
        right: 5%;
    }
    .tandis-description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54%;
        height: 300px;
        background-image: radial-gradient(circle at 95% 6.1%, #FFD98A 0%, #FFAB00 130%);
        border: 4px solid #FFA800;
        border-radius: 16px;
        span {
            color: $Light;
            font-size: 17px;
            width: 65%;
            direction: rtl;
            text-align: center;
        }
    }
}
.footer {    
    position: fixed;
    bottom: 0;
    left: 40%;
    @include vertical-center();
    .button-title {
        font-size: 27px;
        font-weight: bolder;
    }
    .button {
        @include center();
        width: 310px;
        height: 68px;
        background-image: radial-gradient(circle at 97% 9.9%, #FF8A00 0%, #FFAF0C 122%);
        border-radius: 16px;
        a {
            font-size: 21px;
            text-decoration: none;
            text-align: center;
            color: $Light;
        }
    }
}
