@font-face {
  font-family: IranSans;
  src: url(../assets/Iran-Sans.ttf);
}
* {
  box-sizing: border-box;
  font-family: IranSans;
}

body {
  margin: 0;
  padding: 0;
}

.first-section {
  background-image: linear-gradient(180deg, #FFE9BD 0%, #FFFFFF 79%);
}

.second-section {
  background-image: radial-gradient(circle at 80% 84%, #FFFFFF 0%, #4492FC 196%);
  border: 1px solid #979797;
}

.classino-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.classino-title img {
  width: 15%;
  height: auto;
  margin-bottom: 1%;
}
.classino-title hr {
  width: 27%;
  height: 1px;
  background-color: #036AF5;
  border: none;
}
.classino-title span {
  color: #036AF5;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 2%;
}

.classino-description {
  display: flex;
  margin: auto;
  text-align: center;
  width: 76%;
  direction: rtl;
  font-size: 17px;
  font-weight: 500;
}

.students-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.students-picture img {
  width: 50%;
  height: auto;
  margin-top: 3%;
}

.why-classino-main {
  position: relative;
  top: 120px;
}

.why-classino-title, .classino-technology-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 23px;
  font-weight: 600;
}

.why-classino-title {
  margin-bottom: 2%;
}

.why-classino {
  display: flex;
  justify-content: center;
}
.why-classino .reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  width: 20%;
  height: 200px;
  margin: 1.5%;
  background-image: linear-gradient(225deg, #C5DEFF 0%, #9BC5FF 19%, #68A9FF 39%, #036AF5 100%);
  border: 3px solid rgba(54, 140, 255, 0.61);
  box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 16px;
}
.why-classino .reasons span {
  width: 70%;
  color: #ffffff;
  text-align: center;
}

.classino-technology-title {
  position: relative;
  top: 200px;
}

.student-img img {
  width: 13%;
  height: auto;
  position: relative;
  left: 71%;
  top: 85px;
}

.classino-technology {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 300px;
  background-image: linear-gradient(225deg, #C5DEFF 0%, #9BC5FF 19%, #68A9FF 39%, #036AF5 100%);
  border: 4px solid rgba(54, 140, 255, 0.61);
  box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 16px;
}
.classino-technology img {
  width: 180px;
  height: auto;
  position: relative;
  right: 12%;
}
.classino-technology span {
  position: relative;
  right: 8%;
  width: 50%;
  color: #ffffff;
  font-size: 17px;
  direction: rtl;
  text-align: center;
}

.tandis-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3% 0 5% 1%;
}
.tandis-main img {
  width: 280px;
  position: relative;
  right: 5%;
}
.tandis-main .tandis-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54%;
  height: 300px;
  background-image: radial-gradient(circle at 95% 6.1%, #FFD98A 0%, #FFAB00 130%);
  border: 4px solid #FFA800;
  border-radius: 16px;
}
.tandis-main .tandis-description span {
  color: #ffffff;
  font-size: 17px;
  width: 65%;
  direction: rtl;
  text-align: center;
}

.button-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: 8%;
}

.footer .footer-background {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(151, 151, 151, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-top: 1px solid rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-background .button {
  position: fixed;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 68px;
}
.footer .footer-background .button a {
  background-image: radial-gradient(circle at 97% 9.9%, #FF8A00 0%, #FFAF0C 122%);
  border-radius: 16px;
  font-size: 21px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 5% 15%;
}

@media only screen and (max-width: 720px) {
  .why-classino-main {
    top: 10px;
  }
  .why-classino-main .why-classino {
    flex-direction: column;
    align-items: center;
  }
  .why-classino-main .why-classino .reasons {
    width: 80%;
  }
  .second-section {
    margin-top: 8%;
  }
  .classino-technology-title {
    top: 60px;
  }
}/*# sourceMappingURL=classino.css.map */