<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/classino.css">
    <title>classino</title>
</head>
<body>
    <div class="classino-title">
        <img src="../images/vector-logo-1-4960FF08-8D7F-4EC9-87F5-0EDB522E34B7@3x.png" alt="classio logo" title="classino logo">
    </div>
    <div class="classino-description">
        <p> کلاسینو آموزشگاه آنلاینی است که دانش آموزان از پایه ششم تا دوازدهم (کنکور) به راحتی می توانند به صورت زنده سر کلاس بهترین اساتید کشور حاضر شوند، در آزمون شرکت کنند، تکلیف ارسال کنند و ... </p>
    </div>
    <div class="students-picture">
        <img src="../images/Group-986CFBCA-F6A0-4784-8980-51C19E634023.png" alt="students picture" title="students picture">
    </div>
    <div class="classino-subtitle-1">
        <h2>چرا کلاسینو؟</h2>
    </div>
</body>
</html>