<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/classino.css">
    <title>classino</title>
</head>
<body>
<section class="first-section">
    <div class="classino-title">
        <img src="../assets/images/classinoLogo.svg" alt="classio logo" title="classino logo">
        <hr> 
        <span class="logo-description">
            آموزشگاه آنلاینِ ابتدایی تا کنکور
        </span>
    </div>
    <div class="classino-description">
        <span> کلاسینو آموزشگاه آنلاینی است که دانش آموزان از پایه ششم تا دوازدهم (کنکور) به راحتی می توانند به صورت زنده سر کلاس بهترین اساتید کشور حاضر شوند، در آزمون شرکت کنند، تکلیف ارسال کنند و ... </span>
    </div>
    <div class="students-picture">
        <img src="../assets/images/Group-986CFBCA-F6A0-4784-8980-51C19E634023.png" alt="students picture" title="students picture">
    </div>
<div class="why-classino-main">
    <div class="why-classino-title">
        <span>چرا کلاسینو؟</span>
    </div>
    <div class="why-classino">
        <div class="reasons">
            <span>اولین و با تجربه ترین آموزشگاه آنلاین کشور است</span>
        </div>
        <div class="reasons">
            <span>حدود یک میلیون نفر کاربر از سایت کلاسینو استفاده می کنند</span>
        </div>
        <div class="reasons">
            <span>حرفه ای ترین و برترین اساتید ایران برای هر درس و هر پایه</span>
        </div>
        <div class="reasons">
            <span>تا کنون بیش از ۵۰۰ رتبه برتر کنکور داشته است</span>
        </div>
    </div>
</div>
</section>
<section class="second-section">
    <div class="classino-technology-title">
        <span>کلاسینو پیشرو در تکنولوژی</span>
    </div>
    <div class="student-img">
        <img src="../assets/images/Group 13.svg" alt="student">
    </div>
    <div class="classino-technology">
            <img src="../assets/images/platform-35BE2345-3EEB-48E0-990A-F24D6593D31D@3x.png" alt="wifi image" title="wifi image">
            <span>تمام کلاس ها فقط در پلتفرم اختصاصی کلاسینو برگزار می شود و برای شرکت در کلاس ها نیاز به هیچ اپلیکیشن خاصی نیست.</span>
    </div>
<div class="tandis-main">
    <div class="left">
        <img src="../assets/images/tandis-61A35E7B-43C6-4519-913B-10A17E8B08AD@3x.png" alt="">
    </div>
    <div class="right">
        <span>
        کلاسینو در دو سال متوالی برنده مردمی
        بخش آموزش آنلاین در سیزدهمین و چهاردهمین
        جشنواره وب و موبایل ایران شد.
        </span>
    </div>
</div>
<div class="footer">
    <span>دیگه چی می خوای؟</span>
    <div class="button">
        <a href="#">رایگان تجربه کن</a>
    </div>
</div>
</section>    
</body>
</html>